@model IEnumerable<Remake.Models.Kullanıcı>
@using Remake.Models;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/layout.cshtml";
}

<div class="container mt-2"> @*mt kapatılabilir*@
        <div class="modal" id="myModalOK">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                     <h4 class="modal-title d-flex justify-content-center" style="margin-top:-1rem;">Emin Misiniz?</h4>
                    <div class="modal-body">
                        <div class="col-12 grid-margin stretch-card">
                <div class="card " style="height:100%; margin-bottom:-3rem;">
                  <div class="card-body">
                              <h1 class="card-title text-center mt-2">Kişiyi silmek istediğinize emin misiniz?</h1>
                  </div>
                </div>
              </div>
                    </div>
                    <div class="modal-footer">
                        @using (Html.BeginForm("DeleteUser","Admin",FormMethod.Post))
{
                                     <button type="submit" class="btn btn-gradient-danger me-2">Sil</button>
                                                   <input value="" id="RowsValue" type="text" style="visibility:hidden" name="UserEmail">

}
                            <button type="submit" data-bs-dismiss="modal"  class="btn btn-gradient-info me-2">İptal Et</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
  <h2 class="card-title text-center" style="margin-top:-2rem;">Kullanıcılar</h2>

<div class="col-md-12">
                <div class="table-responsive card">
                  <div class="card-body">
                    <table id="table" class="table table-bordered text-center ">
                      <thead>
                        <tr>
            <th> Adı</th>
            <th>Email</th>
             <th>Rolü</th>
                        </tr>
                      </thead>
                      <tbody>
                         @foreach(var item in Model)
                             {
                    <tr class="table" style="cursor:pointer;background-color:#e9e9f7">
                  <td style=" user-select: none;" >@item.Ad</td>
                  <td style=" user-select: none;" >@item.Email</td>
                  <td style=" user-select: none;" >@item.Rol.RolAdi</td>

                   <td>
                        <a type="submit" data-bs-toggle="modal" data-bs-target="#myModalUpdate" style=" user-select: none;"class="btn btn-gradient-info btn-sm">Güncelle</a>
                       <a type="submit" data-bs-toggle="modal" data-bs-target="#myModalOK" class="btn btn-gradient-danger btn-sm">Sil</a></td>
                 
                        </tr>
                        }
                      </tbody>
                       </div>
                        <div class="form-group" style="margin: 0 auto">
                        <label for="exampleInputName1">Stok kontrolünü aktive/deaktive et </label>
                         <input id="activeornot" style="margin-left:12.3rem;width:1.25rem;height:1.25rem;" onclick="test1()" type="checkbox" > 
                         <span id="stokRenk"style="float:Right">@ViewBag.Stok</span>
                          <div class="form-group">
                            <input type="text" class="form-control" id="isenabledactive" name="activeornot"  required placeholder="Lütfen Aktive için 'Aktive et' Deaktive etmek için 'Deaktif et' yazınız." disabled>
                       <button type="submit" id="degistirActivation" style="visibility:hidden;margin-left:45%;"  class="btn btn-gradient-info me-2">Değiştir</button>
                      </div>
                      </div>
                    </table>
                   
                  </div>
              </div>
              


           <div class="container mt-2"> @*mt kapatılabilir*@
        <div class="modal" id="myModalDeleteRole">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                     <h4 class="modal-title d-flex justify-content-center" style="margin-top:-1rem;">Rol Sil</h4>
                    <div class="modal-body">
                        <div class="col-12 grid-margin stretch-card">
                <div class="card " style="height:100%; margin-bottom:-3rem;">
                  <div class="card-body">
                    <form class="forms-sample">
                          <select class="form-control form-control-lg" id="SelectsDel">
                          <option>-</option>
                          @foreach(var item in (List<Roller>)ViewBag.RoleList)
                                        {
                                            <option value="@item.RolId">@item.RolAdi</option>       
                                        }
                      </select>
                                           
                    </form>
                  </div>
                </div>
              </div>
                    </div>
                    <div class="modal-footer">
                         <button type="submit" id="DeleteRole" data-bs-toggle="modal" data-bs-target="#myModalDeleteRole" class="btn btn-gradient-info me-2">Onayla</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @using (Html.BeginForm("AddUser","Admin",FormMethod.Post))
{
<div class="container mt-2"> @*mt kapatılabilir*@

        <div class="modal" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                     <h4 class="modal-title d-flex justify-content-center" style="margin-top:-1rem;">Kullanıcı Ekle</h4>
                    <div class="modal-body">
                        <div class="col-12 grid-margin stretch-card">
                <div class="card " style="height:100%; margin-bottom:-3rem;">
                  <div class="card-body">
                    <form class="forms-sample">
                      <div class="form-group">
                        <label for="exampleInputName1">Kullanıcı Adı</label>
                        <input type="text" class="form-control" id="exampleInputName1" name="UsersName"  required placeholder="Kullanıcı Adı">
                      </div>
                        <div class="form-group">
                        <label for="exampleInputName1">Kullanıcı Email </label>
                        <input type="text" class="form-control" id="exampleInputName1" name="UsersEmail"  required placeholder="Kullanıcı Email Adresi">
                      </div>
                        <div class="form-group">
                        <label for="exampleInputName1">Kullanıcı Şifresi</label>
                        <input type="password" class="form-control" id="exampleInputName1" name="UsersPassword"  required placeholder="Kullanıcı Şifresi">
                      </div>
                      <div class="form-group">
                      <label for="exampleFormControlSelect1">Rol Seçimi</label>
                      <select class="form-control form-control-lg" id="Selects">
                          <option>-</option>
                          @foreach(var item in (List<Roller>)ViewBag.RoleList)
                                        {
                                            <option value="@item.RolId">@item.RolAdi</option>       
                                        }
                                        <input type="text" id="inputNameChange" style="visibility:hidden"name="RoleId">
                      </select>
                    </div>
                    </form>
                  </div>
                </div>
              </div>
                    </div>
                    <div class="modal-footer">
                         <button type="submit" onclick="writeName()" class="btn btn-gradient-info me-2">Onayla</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
       }
       <div class="container mt-2"> @*mt kapatılabilir*@

        <div class="modal" id="myModalUpdate">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                     <h4 class="modal-title d-flex justify-content-center" style="margin-top:-1rem;">Kullanıcı Güncelle</h4>
                    <div class="modal-body">
                        <div class="col-12 grid-margin stretch-card">
                <div class="card " style="height:100%; margin-bottom:-3rem;">
                  <div class="card-body">
                    <form class="forms-sample">
                      <div class="form-group">
                        <label for="exampleInputName1">Kullanıcı Adı</label>
                        <input type="text" class="form-control" id="UsersNameUpdate" name="UsersNameUpdate"  required placeholder="Kullanıcı Adı" readonly>
                      </div>
                       <div class="form-group">
                        <label for="exampleInputName1">Kullanıcı Email </label>
                         <input id="checkboxValue" style="margin-left:12.3rem;width:1.25rem;height:1.25rem;" onclick="test()" type="checkbox" > 
                          <div class="form-group">
                            <input type="text" class="form-control" id="UsersEmailUpdate" name="UsersEmailUpdate"  required placeholder="Kullanıcı Email Adresi" disabled>
                      </div>
                      </div>
                      <div class="form-group">
                      <label for="exampleFormControlSelect1">Rol Seçimi</label>
                      <select class="form-control form-control-lg" id="SelectsGet">
                          <option>-</option>
                          @foreach(var item in (List<Roller>)ViewBag.RoleList)
                                        {
                                            <option value="@item.RolId">@item.RolAdi</option>       
                                        }
                                           
                      </select>
                    </div>
                    </form>
                  </div>
                </div>
              </div>
                    </div>
                    <div class="modal-footer">
                         <button type="submit" data-bs-toggle="modal" data-bs-target="#myModalSure" class="btn btn-gradient-info me-2">Güncelle</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="container mt-2"> @*mt kapatılabilir*@
        <div class="modal" id="myModalSure">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                     <h4 class="modal-title d-flex justify-content-center" style="margin-top:-1rem;">Emin Misiniz?</h4>
                    <div class="modal-body">
                        <div class="col-12 grid-margin stretch-card">
                <div class="card " style="height:100%; margin-bottom:-3rem;">
                  <div class="card-body">
                              <h1 class="card-title text-center mt-2">Kişi bilgilerini güncellemek istediğinize emin misiniz?</h1>

                  </div>
                </div>
              </div>
                    </div>
                    <div class="modal-footer">
                                     <button type="submit" id="SureUpdate" class="btn btn-gradient-info me-2">Güncelle</button>

                            <button type="submit" data-bs-dismiss="modal"  class="btn btn-gradient-danger me-2">İptal Et</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @using (Html.BeginForm("AddNewRole", "Admin", FormMethod.Post))
    {
    <div class="container mt-2"> @*mt kapatılabilir*@

        <div class="modal" id="myModal1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                     <h4 class="modal-title d-flex justify-content-center" style="margin-top:-1rem;">Yeni Rol Yarat</h4>
                    <div class="modal-body">
                        <div class="col-12 grid-margin stretch-card">
                <div class="card " style="height:100%; margin-bottom:-3rem;">
                  <div class="card-body">
                    <form class="forms-sample">
                      <div class="form-group">
                        <label for="exampleInputName1">Yeni Rol Adı</label>
                        <input type="text" class="form-control" id="exampleInputName1" name="RoleName"  required placeholder="Yeni Rol Adı">
                      </div>
                    </form>
                  </div>
                </div>
              </div>
                    </div>
                    <div class="modal-footer">
                         <button type="submit" class="btn btn-gradient-info me-2">Onayla</button>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
   }
   <div class="dropup-center dropup">
            <button class="btn btn-gradient-info " style="border-radius:7rem; position: fixed; bottom: 20px;right: 20px;margin-right:3rem;"type="button" id="dropupCenterBtn" data-bs-toggle="dropdown" aria-expanded="false">
              +
            </button>
            <ul class="dropdown-menu text-center" style="background-color:transparent;border:none;"aria-labelledby="dropupCenterBtn">
              <li><button type="button"  style="border-radius:7rem;" class="btn btn-gradient-info" data-bs-toggle="modal" data-bs-target="#myModal">Yeni Kullanıcı</button></li>
              <li><button type="button" class="btn btn-gradient-info"   style="border-radius:7rem;"data-bs-toggle="modal" data-bs-target="#myModal1">Yeni Rol</button></li>
                 <li><button type="button" class="btn btn-gradient-info"   style="border-radius:7rem;"data-bs-toggle="modal" data-bs-target="#myModalDeleteRole">Rol Sil</button></li>
            </ul>
          </div>
       <script type="text/javascript">

$("#activeornot").on("click", function() {
    
     var check= document.getElementById("activeornot").checked;
        if (check == true) {
            document.getElementById("degistirActivation").style.visibility ="visible"
        }
        else {
             document.getElementById("degistirActivation").style.visibility ="hidden"
        }
});

$("#degistirActivation").on("click", function() {
    var inputString = $("#isenabledactive").val();
    var uppInput =inputString.toUpperCase();
    if(uppInput =="AKTIVE ET"){
        $.ajax({
                   url: "@Url.Action("AktiveEt","Admin")",
                   type: 'POST',
                   dataType: 'json',
                   success: function(data) {
                       if(data ==1){
                           swal({icon:"success",title: "Başarılı", text: "Güncelleme işlemi başarılı. Stok durumu 'AKTİF' olarak güncellendi", type: 
                                                        "success"}).then(function(){ 
                                                            swal("UYARI", "Stok kontrolü aktif edildi. Lütfen Ürünlerin stok sayılarını kontrol ediniz.", "warning").then(function() {
                                                         location.reload();

                                                            });
                                                 }
                                                );
                         
                       }
                       else{
                                swal("Hata Oluştu","Stok kontrolü zaten Aktif durumdaır.","warning")
                       }
            },
            error: function(err) {
               swal("Hata Oluştu","Beklenmedik bir hata oluştu. Lütfen biraz bekleyip tekrar deneyiniz.","warning")
            }
        });
    }
    else if(uppInput =="DEAKTIVE ET"){
     $.ajax({
                   url: "@Url.Action("DeaktiveEt","Admin")",
                   type: 'POST',
                   dataType: 'json',
                   success: function(data) {
                       if(data ==1){
                            swal({icon:"success",title: "Başarılı", text: "Güncelleme işlemi başarılı. Stok durumu 'DEAKTİF' olarak güncellendi", type: 
                                                        "success"}).then(function(){ 
                                                         location.reload();
                                                 }
                                                );
                       }
                       else{
                              swal("Hata Oluştu","Stok kontrolü zaten deaktif durumdaır.","warning")
                       }
            },
            error: function(err) {
               swal("Hata Oluştu","Beklenmedik bir hata oluştu. Lütfen biraz bekleyip tekrar deneyiniz.","warning")
            }
        });

    }
    else{
        swal("Hata Oluştu", "Lütfen 'Deaktive et' veya 'Aktive et' yazınız", "warning");
    }
});








$("#DeleteRole").on("click", function() {
    var getRoldId = $("#SelectsDel").val();
    $.ajax({
                   url: "@Url.Action("deleteRole","Admin")",
                   type: 'POST',
                   data: {getRoldId : getRoldId},
                   dataType: 'json',
                   success: function(data) {
                     if(data=="HATA"){
                           swal("Hata Oluştu","Admin Rolünü silemezsiniz.","warning")
                        }
                     else if (data == "DENY") {
                         swal("Başarısız","Bu role ait kullanıcı bulunduğu için silemezsiniz.","warning")
                     }
                        else    {
                            swal({icon:"success",title: "Başarılı", text: "Silme işlemi başarılı.Rol silindi", type: 
                                                        "success"}).then(function(){ 
                                                         location.reload();
                                                 }
                                                );
                        
                        }
            },
            error: function(err) {
               swal("Hata Oluştu","Beklenmedik bir hata oluştu. Lütfen biraz bekleyip tekrar deneyiniz.","warning")
            }
        });
});


          function writeName() {
    var temp = document.getElementById("Selects").value
    document.getElementById("inputNameChange").setAttribute("value", temp)
}


           $("#SureUpdate").on("click", function(){
             var name = $("#UsersNameUpdate").val();
               var email = $("#UsersEmailUpdate").val();
               var oldMail = send3;
               var Rolid = $("#SelectsGet").val();
                         $.ajax({
                   url: "@Url.Action("UpdateUser","Admin")",
                   type: 'POST',
                   data: {name : name, email:email , Rolid:Rolid,oldMail:oldMail},
                   dataType: 'json',
                   success: function(data) {
                     if(data==0){
                           swal("Hata Oluştu","Beklenmedik bir hata oluştu. Bu Email adresi zaten kayıtlı. Lütfen başka bir Email adresi deneyiniz.","warning")
                        }
                     else if (data == 3)
                     {
                          swal({icon:"success",title: "Başarılı", text: "Güncelleme işlemi başarılı. Kullanıcı rolü güncellendi.", type: 
                                                        "success"}).then(function(){ 
                                                         location.reload();
                                                 }
                                                );
                     }
                        else    {
                            swal({icon:"success",title: "Başarılı", text: "Güncelleme işlemi başarılı.", type: 
                                                        "success"}).then(function(){ 
                                                         location.reload();
                                                 }
                                                );
                        }
                       $("#myModalSure").modal("hide");
            },
            error: function(err) {
               swal("Hata Oluştu","Beklenmedik bir hata oluştu. Lütfen biraz bekleyip tekrar deneyiniz.","warning")
            }
        });
});
var send, send1, send2, send3;
           $("#table").on("click", "td", function(){
            send = $(this).parent("tr").find("td:nth-child(1)").text();
     send1 = $(this).parent("tr").find("td:nth-child(2)").text();
      send2 = $(this).parent("tr").find("td:nth-child(3)").text();
               send3 = send1;
               $("#UsersNameUpdate").val(send);
        $("#UsersEmailUpdate").val(send1);
});
       var table = document.getElementById("table"),indexy

    for (var i = 0; i < table.rows.length;i++)
    {
        table.rows[i].onclick = function() 
        {
            indexy = this.rowIndex;
            document.getElementById("RowsValue").value =this.cells[1].textContent;
        };
}

          function test(){
     var check= document.getElementById("checkboxValue").checked;
        if (check == true) {
            document.getElementById("UsersEmailUpdate").disabled = false;
        }
        else {
             document.getElementById("UsersEmailUpdate").disabled = true;
        }
}
          function test1(){
     var check= document.getElementById("activeornot").checked;
        if (check == true) {
            document.getElementById("isenabledactive").disabled = false;
        }
        else {
             document.getElementById("isenabledactive").disabled = true;
        }
}
   </script>


  