@model IEnumerable<Remake.Models.Urunler>
@using Remake.Models;
@{
    ViewData["Title"] = "AlanIndex";
    Layout = "~/Views/Shared/layout.cshtml";
}
<div class="container mt-2"> @*mt kapatılabilir*@
        <div class="modal" id="myModalDelete">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                     <h4 class="modal-title d-flex justify-content-center" style="margin-top:-1rem;">Emin Misiniz?</h4>
                    <div class="modal-body">
                        <div class="col-12 grid-margin stretch-card">
                <div class="card " style="height:100%; margin-bottom:-3rem;">
                  <div class="card-body">
                              <h1 class="card-title text-center mt-2">Ürünü silmek istediğinize emin misiniz?</h1>
                  </div>
                </div>
              </div>
                    </div>
                    <div class="modal-footer">
                        @using (Html.BeginForm("DeleteProductFromAlan","Explorers",FormMethod.Post))
{
                                     <button type="submit" class="btn btn-gradient-danger me-2">Sil</button>
                                                   <input value="" id="RowsValue" type="text" style="visibility:hidden" name="UserEmail">

}
                            <button type="submit" data-bs-dismiss="modal"  class="btn btn-gradient-info me-2">İptal Et</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
 <h3 class="card-title text-center " id="alanAdiGet" style="margin-top:-2rem;padding:1rem;">@ViewBag.AlanAdi</h3>
    <input value="@ViewBag.AlanAdi" id="alanAdiGets" type="text" style="visibility:hidden">

     <div class="form-group text-center">
                     <h3>Mekanlar</h3>
                      <select class="form-control form-control-sm" id="catAdi" name="KategoriAdi">
                        <option class="text-center" style="font-size:1rem" >--</option> 
        @foreach(var item in (List<Kategoriler>)ViewBag.ListKategori)
        {
            
                   <option class="text-center" style="font-size:1rem">@item.KategoriAdi</option>                               // BURADA KALDIM. BURADAN CONTROLLERA MEKANADI GONDERILECEK
        }
                      </select>

      </div>


@using (Html.BeginForm("AddProductToAlan","Explorers",FormMethod.Post))
{
    <div class="container mt-2"> @*mt kapatılabilir*@
        <div class="modal" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                     <h4 class="modal-title d-flex justify-content-center" style="margin-top:-1rem;">Ürün Ekle</h4>
                    <div class="modal-body">
                        <div class="col-12 grid-margin stretch-card">
                <div class="card " style="height:100%; margin-bottom:-3rem;">
                  <div class="card-body">
                    <form class="forms-sample">
                        <div class="form-group">
                        <label for="exampleInputName1">Kategori Seçiniz</label>
                         <select class="form-control form-control-sm" id="catName" name="CatName">
                        <option class="text-center" style="font-size:1rem" >--</option> 
        @foreach(var item in (List<Kategoriler>)ViewBag.CatList)
        { 
                   <option class="text-center" value="@item.KategoriAdi" style="font-size:1rem">@item.KategoriAdi</option>                              
        }
                      </select>
                      </div>
                         <div class="form-group">
                        <label for="exampleInputName1">Ürün Seçiniz</label>
                         <select class="form-control form-control-sm" id="odaAdi" name="UrunKodu">
                        <option class="text-center" style="font-size:1rem" >--</option> 
        @foreach(var item in Model)
        { 
                   <option class="text-center" value="@item.UrunKodu" style="font-size:1rem">@item.UrunAdi</option>                              
        }
                      </select>
                      </div>
                      <div class="form-group">
                        <label for="exampleInputName1">Ürün Adedi </label>
                        <input type="number" class="form-control" id="UrunAdet" name="UrunAdedi"  required placeholder="Ürün Adedi">
                      </div>
                    </form>
                  </div>
                </div>
              </div>
                    </div>
                    <div class="modal-footer">
                        <input value="@ViewBag.RowId" name="RowId" style="visibility:hidden">
                         <button type="submit" class="btn btn-gradient-info me-2">Onayla</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    }
     <div class="col-md-12">
                <div class="table-responsive card">
                  <div class="card-body">
                    <table id="table" class="table table-bordered text-center ">
        <thead>
                        <tr>
             <th>Kategori</th>
            <th>Ürün Kodu</th>
            <th>Ürün Adı</th>
            <th>Ürün Adedi</th>
                        </tr>
                      </thead>
                      <tbody>
                             @foreach(var item in Model)
                             {
                        foreach(var selecteditem in (List<Urunholder>)ViewBag.UrunList)
                        {
                            if(item.Id == selecteditem.UrunId && ViewBag.RowId== selecteditem.AlanId)
                            {
                               <tr class="table" style="cursor:pointer;background-color:#e9e9f7">
                                       <td style=" user-select: none;" >@item.UrunKategorisi</td>
                  <td  style="user-select: none;" >@item.UrunKodu</td>
                  <td style="user-select: none;">@item.UrunAdi</td>
                   <td ><a type="submit" data-bs-toggle="modal" data-bs-target="#myModalOK" style=" user-select: none;"class="btn btn-gradient-info btn-sm">@selecteditem.UrunAdet</a></td>
                  <td style=" user-select: none;" data-bs-toggle="modal" data-bs-target="#myModalDelProduct">
                      <button data-bs-toggle="modal" data-bs-target="#myModalProductUpdate" style=" user-select: none;"class="btn btn-gradient-info btn-sm">Güncelle</button>
                      <a type="submit"  class="btn btn-gradient-danger btn-sm">Sil</a></td>
                   </tr> 
                            }
                        }
                             }
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
               <div class="container mt-2">
        <div class="modal" id="myModalProductUpdate">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                     <h4 class="modal-title d-flex justify-content-center" style="margin-top:-1rem;">Ürün Adedi Güncelle</h4>
                    <div class="modal-body">
                        <div class="col-12 grid-margin stretch-card">
                <div class="card " style="height:100%; margin-bottom:-3rem;">
                  <div class="card-body">
                    <form class="forms-sample">
                        <label for="exampleInputName1" style="font-size:14px">Ürün Kodu</label>
                      <div class="form-group" style="display:flex">
                        <input type="text" class="form-control" id="UrunKoduUpdate" name="UrunKodu" value=""  required placeholder="Ürün Kodu" disabled>
                      </div>
                            <div class="form-group">
                        <input type="text" class="form-control" id="UrunAdetiUpdate" name="UrunAdet"  required placeholder="Ürün Adedi">
                      </div>
                    </form>
                  </div>
                </div>
              </div>
                    </div>
                    <div class="modal-footer">
                          <button type="submit" data-bs-toggle="modal" data-bs-target="#myModalSureUpdate" id="updateProduct" class="btn btn-gradient-info me-2">Güncelle</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
              <div class="container mt-2">
        <div class="modal" id="myModalDelProduct">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                     <h4 class="modal-title d-flex justify-content-center" style="margin-top:-1rem;">Ürün Sil</h4>
                    <div class="modal-body">
                        <div class="col-12 grid-margin stretch-card">
                <div class="card " style="height:100%; margin-bottom:-3rem;">
                  <div class="card-body">
                    <form class="forms-sample">
                      <div class="form-group">
                        <label for="exampleInputName1">Ürün Adedine Göre Sil</label>
                         <input id="checkboxValueSil" style="margin-left:12.3rem;width:1.25rem;height:1.25rem;" onclick="testSil()" type="checkbox" > 
                          <div class="form-group">
                        <input type="text" class="form-control" id="urunAdetSil" name="UrunAdedi"  placeholder="Ürün Adedi Giriniz" disabled> 
                      </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
                    </div>
                    <div class="modal-footer">
                         <button type="submit" id="DeleteAll" data-bs-toggle="modal" data-bs-target="#myModalAll" class="btn btn-gradient-danger me-2" style="float:left"> Hepsini Sil</button>
                         <button type="submit" id="delbyAdet" data-bs-toggle="modal" data-bs-target="#myModalAdet"class="btn btn-gradient-danger me-2">Adede Göre Sil</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-2"> @*mt kapatılabilir*@
        <div class="modal" id="myModalAdet">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                     <h4 class="modal-title d-flex justify-content-center" style="margin-top:-1rem;">Emin Misiniz?</h4>
                    <div class="modal-body">
                        <div class="col-12 grid-margin stretch-card">
                <div class="card " style="height:100%; margin-bottom:-3rem;">
                  <div class="card-body">
                              <h1 class="card-title text-center mt-2">Ürünü silmek istediğinize emin misiniz?</h1>

                  </div>
                </div>
              </div>
                    </div>
                    <div class="modal-footer">
                                     <button type="submit" id="SureAdet" class="btn btn-gradient-danger me-2">Sil</button>

                            <button type="submit" data-bs-dismiss="modal"  class="btn btn-gradient-info me-2">İptal Et</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-2"> @*mt kapatılabilir*@
        <div class="modal" id="myModalAll">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                     <h4 class="modal-title d-flex justify-content-center" style="margin-top:-1rem;">Emin Misiniz?</h4>
                    <div class="modal-body">
                        <div class="col-12 grid-margin stretch-card">
                <div class="card " style="height:100%; margin-bottom:-3rem;">
                  <div class="card-body">
                              <h1 class="card-title text-center mt-2">Ürünlerin tamamını silmek istediğinize emin misiniz?</h1>

                  </div>
                </div>
              </div>
                    </div>
                    <div class="modal-footer">
                                     <button type="submit" id="SureAll" class="btn btn-gradient-danger me-2">Sil</button>

                            <button type="submit" data-bs-dismiss="modal"  class="btn btn-gradient-info me-2">İptal Et</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
<button type="button" style="border-radius:7rem; position: fixed; bottom: 20px;right: 20px;margin-right:3rem;" class="btn btn-gradient-info " style="margin-bottom:1rem;" data-bs-toggle="modal" data-bs-target="#myModal">+</button>

                        <script type="text/javascript">
$("#catAdi").on("change", function() {
    var getCatName = $("#catAdi").val();
        var AlanAdi = $("#alanAdiGets").val();
        var deneme = $("#catAdi option:selected").text();
        if(deneme !="--"){

    $.ajax({
     url: "@Url.Action("filterProducts","Explorers")",
            type: 'POST',
            data: {getCatName:getCatName,AlanAdi:AlanAdi},
            dataType: 'json',
        success: function(data) {
            console.log(data);
              $('#table tbody').empty();
             if (data.length != 0) {

                    for (var i = 0; i < data.length; i++) {
                        markup = "<tr class='table' style='cursor:pointer;background-color:#e9e9f7;user-select:none'><td >"
                      + data[i].urunKategorisi + "</td><td style='user-select:none'>"
                      + data[i].urunKodu+"</td><td style='user-select:none'>"
                      + data[i].urunAdi+"</td><td><a type='submit' data-bs-toggle='modal' data-bs-target='myModalOK' style='user-select:none;' class='btn btn-gradient-info btn-sm'>" 
                      +data[i].kullanilanUrunAdet+"<a/></td><td style='user-select:none' data-bs-toggle='modal' data-bs-target='#myModalDelProduct'><button class='btn btn-gradient-info btn-sm' data-bs-toggle='modal' data-bs-target='#myModalProductUpdate' style='user-select:none'>Güncelle</button>"
                      "<a type='submit' class='btn btn-gradient-danger btn-sm'>Sil</a></td></tr>";
                        tableBody = $("#table tbody");
                        tableBody.append(markup);
                    }
                }
                else {
                       swal("Boş Alan","Bu Alana henüz Ürün eklemediniz.","warning")
                }
            },
            error: function(err) {
               swal("Hata Oluştu","Beklenmedik bir hata oluştu. Lütfen biraz bekleyip tekrar deneyiniz.","warning")
            }
     });
        }
        else{
            location.reload(true);
        }
});

$("#updateProduct").on("click", function() {
    var adet = $("#UrunAdetiUpdate").val();
    var UK = $("#UrunKoduUpdate").val();
    var AlanAdi = $("#alanAdiGets").val();
   $.ajax({
         url: "@Url.Action("updateProduct","Explorers")",
            type: 'POST',
            data: {UK:UK,adet:adet,AlanAdi:AlanAdi},
            dataType: 'json',
            success: function(data) {
                if (data == "OK") {

                swal({icon:"success",title: "Başarılı", text: "Ürün Adedi Güncellendi!", type: 
"success"}).then(function(){ 
   location.reload();
   }
);
                }
                else if (data == "UYARI") {
                     swal({icon:"warning",title: "DİKKAT", text: "Girilen miktar stoğun dışına çıkmıştır. Ürün için maximum stok adedi tanımlanmıştır.!", type: 
"warning"}).then(function(){ 
   location.reload();
   }
);
                }
                else if (data == "OK2") 
                {
swal({icon:"success",title: "Başarılı", text: "Ürün Adedi Güncellendi!", type: 
"success"}).then(function(){ 
   location.reload();
   }
);
                }
                else    {
                      swal("Hata Oluştu","Bilinmeyen bir hata ile karşılaşıldı.","warning")
                }
            },
            error: function(err) {
               swal("Hata Oluştu","Beklenmedik bir hata oluştu. Lütfen biraz bekleyip tekrar deneyiniz.","warning")
            }
     });
});



                             $("#table tbody td button").on("click", function(){
           $("#table" ).on("click", "td:nth-child(5)", function(){
              
    var Send = $(this).parent("tr").find("td:nth-child(2)").text();
               var id;

      $.ajax({
            url: "@Url.Action("GetProductByCode","Product")",
            type: 'POST',
            data: {Send : Send},
            dataType: 'json',
            success: function(data) {
                $("#UrunKoduUpdate").val(data.urunKodu);
                id = data.urunKodu;
                $.ajax({
                               url: "@Url.Action("getProductAdetLeft","Explorers")",
                        data: { p: id },
                        type: "POST",
                        dataType: "Json",
                        success: function (data) {
                            if (data == "Ürün Seçiniz") {
                                swal({
                                    title: "UYARI!",
                                    text: "Ürün bulunamadı. Lütfen biraz bekleyip tekrar deneyiniz.",
                                    type: "warning",
                                    confirmButtonText: "Cool"
                                });
                            }
                            else if(data =="DontAlert"){

                            }
                            else {

                            swal({
  title: "HATIRLATMA!",
  text: "Bu üründen en fazla " + data+" Adet Ekleyebilirsiniz",
  type: "warning",
  confirmButtonText: "Cool" 
 });
                            }
                                        }
                                        });
            },
            error: function(err) {
               swal("Hata Oluştu","Beklenmedik bir hata oluştu. Lütfen biraz bekleyip tekrar deneyiniz.","warning")
            }
        });
});      
});


                                function testSil(){
     var check= document.getElementById("checkboxValueSil").checked;
        if (check == true) {
            document.getElementById("urunAdetSil").disabled = false;
        }
        else {
             document.getElementById("urunAdetSil").disabled = true;
        }
}
var adet 
$("#SureAdet").on("click", function(){
     adet = $("#urunAdetSil").val();
    AlanAdi = $("#alanAdiGet").text();
     $.ajax({
            url: "@Url.Action("deleteProductAdet","Explorers")",
            type: 'POST',
            data: {UrunKodu : UrunKodu, AlanAdi:AlanAdi , adet:adet},
            dataType: 'json',
            success: function(data) {
                $("#myModalAdet").modal('hide');
                location.reload(true);
            },
            error: function(err) {
               swal("Hata Oluştu","Beklenmedik bir hata oluştu. Lütfen biraz bekleyip tekrar deneyiniz.","warning")
            }
        });
});

$("#SureAll").on("click", function(){
        AlanAdi = $("#alanAdiGet").text();
     $.ajax({
            url: "@Url.Action("deleteProductAll","Explorers")",
            type: 'POST',
            data: {UrunKodu : UrunKodu, AlanAdi:AlanAdi},
            dataType: 'json',
            success: function(data) {
                $("#myModalAll").modal('hide');
                location.reload(true);
            },
            error: function(err) {
               swal("Hata Oluştu","Beklenmedik bir hata oluştu. Lütfen biraz bekleyip tekrar deneyiniz.","warning")
            }
        });
});
var UrunKodu;
var AlanAdi;
                            $("#table").on("click", "td", function(){
     UrunKodu = $(this).parent("tr").find("td:nth-child(2)").text();
        //    $.ajax({
        //    url: "@Url.Action("deleteProductAdet","Explorers")",
        //    type: 'POST',
        //    data: {UrunKodu : UrunKodu, AlanAdi:AlanAdi},
        //    dataType: 'json',
        //    success: function(data) {
        //        $("#UrunKodu").val(data.urunKodu);
        //        $("#UrunMarka").val(data.marka);
        //        $("#UrunAitligi").val(data.kesifAitligi);
        //        $("#UrunSatisFiyat").val(data.satisFiyati);
        //        $("#UrunAdeti").val(data.urunAdet);
        //        $("#UrunFiyat").val(data.urunFiyati);
        //        $("#UrunCat").val(data.urunKategorisi);
        //        $("#UrunAdi").val(data.urunAdi);
        //        $("#RowsValue").val(data.urunKodu);
        //        $("#myModalProductInfo").modal('show');
        //    },
        //    error: function(err) {
        //       swal("Hata Oluştu","Beklenmedik bir hata oluştu. Lütfen biraz bekleyip tekrar deneyiniz.","warning")
        //    }
        //});
});







  $('#catName').change(function () {
                        var id = $('#catName').val();
                        $.ajax({
                               url: "@Url.Action("GetUrunForSelected","Explorers")",
                        data: { p: id },
                        type: "POST",
                        dataType: "Json",
                        success: function (data) {
                            $('#odaAdi').empty();
                            
                                $('#odaAdi').append("<option value='" +" --" + "'>" + "--" + "</Option>");
                                for (var i = 0; i < data.length; i++) {
                                $('#odaAdi').append("<option value='" + data[i].urunKodu + "'>" + data[i].urunAdi + "</Option>");
                                        }
                                        }
                                        });
                                });

  $('#odaAdi').change(function () {
                        var id = $('#odaAdi').val();
                        $.ajax({
                               url: "@Url.Action("getProductAdetLeft","Explorers")",
                        data: { p: id },
                        type: "POST",
                        dataType: "Json",
                        success: function (data) {
                            if (data == "Ürün Seçiniz") {
                                swal({
                                    title: "HATIRLATMA!",
                                    text: "Lütfen Ürün Seçiniz",
                                    type: "warning",
                                    confirmButtonText: "Cool"
                                });
                            }
                            else if (data == "OK") {

                                swal({
                                    title: "HATIRLATMA!",
                                    text: "Bu üründen en fazla " + data + " Adet Ekleyebilirsiniz",
                                    type: "warning",
                                    confirmButtonText: "Cool"
                                });
                            }
                            else if (data == "DontAlert") {
                            }
                                        
                        }
                                        });
                                });
</script>