@model IEnumerable<Remake.Models.Kesifler>
@using Remake.Models;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/layout.cshtml";
}

  <h2 class="card-title text-center">Aktif Keşifler</h2>
  
@using (Html.BeginForm("AddExplore","Explorers",FormMethod.Post))
{
    <div class="container mt-2"> @*mt kapatılabilir*@
        <div class="modal" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                     <h4 class="modal-title d-flex justify-content-center" style="margin-top:-1rem;">Keşif Ekle</h4>
                     <input value="" id="RowsValue" type="text" style="visibility:hidden" name="ExploreId">
                     <h1 id="changeText"></h1>
                    <div class="modal-body">
                        <div class="col-12 grid-margin stretch-card">
                <div class="card " style="height:100%; margin-bottom:-3rem;">
                  <div class="card-body">
                    <form class="forms-sample">
                      <div class="form-group">
                        <label for="exampleInputName1">Keşif Adı</label>
                        <input type="text" class="form-control" id="exampleInputName1" name="ExpName"  required placeholder="Keşif Adı">
                      </div>
                    </form>
                  </div>
                </div>
              </div>
                    </div>
                    <div class="modal-footer">
                         <button type="submit" class="btn btn-gradient-primary me-2">Onayla</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    }
    <div class="col-lg-12 stretch-card">
                <div class="table-responsive card">
                  <div class="card-body">
                    <table id="table" class="table table-bordered text-center ">
                      <tbody>
                         @foreach(var item in Model)
                             {
                        <tr class="table-info" data-toggle="modal" data-target="#orderModal" cursor="pointer">
                            <td><a  style="width:100%;height:100%" class="col-9 btn" onclick="location.href='@Url.Action("MekanIndex","Explorers",new {RowId = @item.Id})'"> @item.Ad</a></td>
                            <td><a type="submit" href="@Url.Action("DeleteExpolore","Explorers",new { RowId = @item.Id})" class="btn btn-outline-danger btn-sm col-3">Sil</a></td>
                        </tr>
                        }
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
                <button type="button" style="border-radius:7rem; position: fixed; bottom: 20px;right: 20px;margin-right:3rem;" class="btn btn-primary " style="margin-bottom:1rem;" data-bs-toggle="modal" data-bs-target="#myModal">+</button>

                    <script type="text/javascript">
        //var getRowid = document.getElementById("table"), index,sendRowId
        //for (var i=0; i < table.rows.length; i++) {
        //    for (var j = 0; j < table.rows[i].cells.length;j++){
        //        table.rows[i].cells[j].onclick = function() {
        //        index = this.parentElement.rowIndex;
        //            sendRowId = index + 1;
        //            document.getElementById("RowsValue").setAttribute("value",sendRowId)
        //            document.getElementById("changeText").textContent = sendRowId
        //        }
        //    }
        //}


   </script>
              
  