@model IEnumerable<Remake.Models.Alanholder>
@using Remake.Models;
@{
    ViewData["Title"] = "MekanIndex";
    Layout = "~/Views/Shared/layout.cshtml";

}
@using (Html.BeginForm("AddAlanToExplorer","Explorers",FormMethod.Post))
{
    <div class="container mt-2"> @*mt kapatılabilir*@
        <div class="modal" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                     <h4 class="modal-title d-flex justify-content-center" style="margin-top:-1rem;">Oda Alanı Ekle</h4>
                    <div class="modal-body">
                        <div class="col-12 grid-margin stretch-card">
                <div class="card " style="height:100%; margin-bottom:-3rem;">
                  <div class="card-body">
                    <form class="forms-sample">
                         <div class="form-group">
                        <label for="exampleInputName1">Mekan Tipi</label>
                         <select class="form-control form-control-sm" id="odaAdi" name="MekanAdi">
                        <option class="text-center" style="font-size:1rem" >--</option> 
        @foreach(var item in (List<Mekantürleri>)ViewBag.List)
        { 
                   <option class="text-center" style="font-size:1rem">@item.MekanAdi</option>                              
        }
                      </select>
                      </div>
                        <div class="form-group">
                        <label for="exampleInputName1">Alan Adı</label>
                        <input type="text" class="form-control"  id="exampleInputName1" name="AlanAdi"  required placeholder="Alan Adı">
                      </div>
                       <div class="form-group">
                        <label for="exampleInputName1">Bağlantılı Toplama Noktası</label>
                         <input id="checkboxValue" style="margin-left:12.3rem;width:1.25rem;height:1.25rem;" onclick="test()" type="checkbox" > 
                         <select class="form-control form-control-sm" id="BaglantiNoktasi" name="BaglantiNoktasi" disabled>
                        <option class="text-center" style="font-size:1rem" >Seçiniz</option> 
                   <option class="text-center">1</option> 
                     <option class="text-center">1</option>  
                       <option class="text-center">1</option>  
                         <option class="text-center">1</option>  
                      </select>
                                                      

                      </div>
                        <div class="form-group">
                        <label for="exampleInputName1">Konum(Opsiyonel)</label>
                        <input type="text" class="form-control" id="exampleInputName1" name="Konum"  placeholder="Konum(Opsiyonel)">
                      </div>
                        <div class="form-group">
                        <label for="exampleInputName1">Not(Opsiyonel)</label>
                        <input type="text" class="form-control" id="exampleInputName1" name="Not"  placeholder="Not(Opsiyonel)">
                      </div>
                    </form>
                  </div>
                </div>
              </div>
                    </div>
                    <div class="modal-footer">
                         <input value="@ViewBag.KesifAdi" id="RowsValue" type="text" style="visibility:hidden" name="KesifAdi">
                         <button type="submit" class="btn btn-gradient-dark me-2">Onayla</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    }

            <h3 class="card-title text-center "  style="margin-top:-2rem;padding:1rem;">@ViewBag.KesifAdi</h3>

            <div class="form-group text-center">
                     <h3>Mekanlar</h3>
                      <select class="form-control form-control-sm" id="mekanAdi" name="MekanAdi">
                        <option class="text-center" style="font-size:1rem" >--</option> 
        @foreach(var item in (List<Mekantürleri>)ViewBag.List)
        {
            
                   <option class="text-center" style="font-size:1rem">@item.MekanAdi</option>                               // BURADA KALDIM. BURADAN CONTROLLERA MEKANADI GONDERILECEK
        }
                      </select>

      </div>

         <div class="col-md-12">
                <div class="table-responsive card">
                  <div class="card-body">
                    <table id="table" class="table table-bordered text-center ">
        <thead>
                        <tr>
            <th>Alan Adı</th>
                        </tr>
                      </thead>
                      <tbody>
                         @foreach(var item in Model)
                             {
                        if(@item.KesifId == @ViewBag.KesifId)
                        {
                        <tr class="table-primary" id="ListAlans"style="cursor:pointer">
                  <td class="col-lg-2 col-md-2 col-sm-2" onclick="location.href='@Url.Action("AlanIndex","Explorers",new {RowId = @item.Id})'">@item.AlanAdi</td>
                   </tr>
                    }
                        }
                         
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
                <button onclick=" makedisable()" type="button" style="border-radius:7rem; position: fixed; bottom: 20px;right: 20px;margin-right:3rem;" class="btn btn-gradient-dark " style="margin-bottom:1rem;" data-bs-toggle="modal" data-bs-target="#myModal">+</button>


<script type="text/javascript">
                             
 var table =document.getElementById("table");
    $("#mekanAdi").on("change", function(){
        var p = $('#mekanAdi').val();
        $.ajax({
            url: "@Url.Action("mekangetir","Explorers")",
            type: 'POST',
            data: {p : p},
            dataType: 'JSON',
            success: function(data) {
                 $('#table tbody').empty();
                 
                if (data.length != 0) {

                    for (var i = 0; i < data.length; i++) {
                        var url = "location.href='@Url.Action("AlanIndex","Explorers")?RowId=" + data[i].id + "'";
                        markup = "<tr class='table-primary'><td style='cursor:pointer'><a  onclick="+url+" >"
                      + data[i].alanAdi + "</a></td></tr>";
                        tableBody = $("#table tbody");
                        tableBody.append(markup);
                    }
                }
                else {
                       swal("Boş Mekan","Bu mekana henüz alan eklemediniz.","warning")
                }
            },
            error: function(err) {
                 swal("Hata Oluştu","Beklenmedik bir hata oluştu. Lütfen biraz bekleyip tekrar deneyiniz.","warning")
            }
        });
       });
 


   function makedisable(){
        document.getElementById("BaglantiNoktasi").disabled = true;
    }
    function test(){
     var check= document.getElementById("checkboxValue").checked;
        if (check == true) {
            document.getElementById("BaglantiNoktasi").disabled = false;
        }
        else {
             document.getElementById("BaglantiNoktasi").disabled = true;
        }
}
    	$("#mekanAdi").change(function() {

		var selectedVal = $("#mekanAdi option:selected").val();
	});


</script>