@model IEnumerable<Remake.Models.Urunler>
@using Remake.Models;
@{
    ViewData["Title"] = "ListIndex";
    Layout = "~/Views/Shared/layout.cshtml";
}
<div class="container mt-2"> @*mt kapatılabilir*@
        <div class="modal" id="myModalOK">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                     <h4 class="modal-title d-flex justify-content-center" style="margin-top:-1rem;">Emin Misiniz?</h4>
                    <div class="modal-body">
                        <div class="col-12 grid-margin stretch-card">
                <div class="card " style="height:100%; margin-bottom:-3rem;">
                  <div class="card-body">
                              <h1 class="card-title text-center mt-2">Ürünü silmek istediğinize emin misiniz?</h1>
                  </div>
                </div>
              </div>
                    </div>
                    <div class="modal-footer">
                        @using (Html.BeginForm("DeleteProduct","Category",FormMethod.Post))
{
                                     <button type="submit" class="btn btn-gradient-danger me-2">Sil</button>
                                                   <input value="" id="RowsValue" type="text" style="visibility:hidden" name="ProductCode"> 
                                                   <input value="@ViewBag.CatName" type="text" style="visibility:hidden" name="redirectName">

}
                            <button type="submit" data-bs-dismiss="modal" style="margin-top:-5rem;" class="btn btn-gradient-red me-2">İptal Et</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-2"> @*mt kapatılabilir*@

        <div class="modal" id="myModalProductInfo">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                     <h4 class="modal-title d-flex justify-content-center" style="margin-top:-1rem;">Ürün Bilgileri</h4>
                    <div class="modal-body">
                        <div class="col-12 grid-margin stretch-card">
                <div class="card " style="height:100%; margin-bottom:-3rem;">
                  <div class="card-body">
                    <form class="forms-sample">
                        <label for="exampleInputName1" style="font-size:14px">Ürün Kodu</label>
                      <div class="form-group" style="display:flex">
                        <input type="text" class="form-control" id="UrunKoduId" name="UrunKodu" value=""  required placeholder="Ürün Kodu" readonly>
                      </div>
                        <div class="form-group">
                        <label for="exampleInputName1">Ürün Adı </label>
                        <input type="text" class="form-control" id="UrunAdi" name="UrunAdi"  required placeholder="Ürün Adı" readonly>
                      </div>
                        <div class="form-group">
                        <label for="exampleInputName1">Ürün Markası</label>
                        <input type="text" class="form-control" id="UrunMarka" name="Marka"  required placeholder="Ürün Markası" readonly>
                      </div>
                      <div class="form-group">
                        <label for="exampleInputName1">Ürün Kategorisi</label>
                        <input type="text" class="form-control" id="UrunCat" name="Kategori"  required placeholder="Ürün Kategorisi" readonly>
                      </div>
                        <div class="form-group">
                        <label for="exampleInputName1">Ürün Adedi</label>
                        <input type="text" class="form-control" id="UrunAdeti" name="UrunAdet"  required placeholder="Ürün Adedi" readonly>
                      </div>
                    
                    <div class="form-group">
                        <label for="exampleInputName1">Ürün Fiyatı </label>
                        <input type="number" class="form-control" id="UrunFiyat" name="fiyat"  required placeholder="Ürün Fiyatı" readonly>
                      </div>
                      <div class="form-group">
                        <label for="exampleInputName1"> Satış Fiyatı</label>
                        <input type="number" class="form-control" id="UrunSatisFiyat" name="satisFiyati"  required placeholder="Satış Fiyatı" readonly>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
                    </div>
                    <div class="modal-footer">
                          <button type="submit" data-bs-dismiss="modal"  class="btn btn-gradient-danger me-2">Kapat</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
<h2 class="card-title text-center" style="margin-top:-2rem;">Ürünler</h2>

<div class="col-md-12">
                <div class="table-responsive card">
                  <div class="card-body">
                    <h4 class="text-center" id="getCatName" style="margin-top:-1rem">@ViewBag.CatName</h4>
                    <table id="table" class="table table-bordered text-center ">
                             <tbody>
                         @foreach(var item in Model)
                             {
                    <tr class="table" style="cursor:pointer;background-color:#d8dfeb">
                  <td class="col-lg-2 col-md-2 col-sm-2" style=" user-select: none;" >@item.UrunKodu</td>
                  <td  style=" user-select: none;">@item.UrunAdi</td>
                   <td><a type="submit" data-bs-toggle="modal" data-bs-target="#myModalOK" class="btn btn-gradient-danger btn-sm">Sil</a></td>
                 
                        </tr>
                        }
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>

              @using (Html.BeginForm("AddNewProduct","Category",FormMethod.Post))
{
<div class="container mt-2">

        <div class="modal" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                     <h4 class="modal-title d-flex justify-content-center" style="margin-top:-1rem;">Yeni Ürün Ekle</h4>
                    <div class="modal-body">
                        <div class="col-12 grid-margin stretch-card">
                <div class="card " style="height:100%; margin-bottom:-3rem;">
                  <div class="card-body">
                    <form class="forms-sample">
                        <label for="exampleInputName1" style="font-size:14px">Ürün Kodu</label>
                      <div class="form-group" style="display:flex">
                        <input type="text" class="form-control" id="UrunKodu" name="UrunKodu"   required placeholder="Ürün Kodu">
                        <a type="button" onclick="GenerateCode()" class="btn btn-gradient-success">Kod üret</a>
                      </div>
                        <div class="form-group">
                        <label for="exampleInputName1">Ürün Adı </label>
                        <input type="text" class="form-control" id="exampleInputName1" name="UrunAdi"  required placeholder="Ürün Adı">
                      </div>
                        <div class="form-group">
                        <label for="exampleInputName1">Ürün Markası</label>
                        <input type="text" class="form-control" id="exampleInputName1" name="Marka"  required placeholder="Ürün Markası">
                      </div>
                        <div class="form-group">
                        <label for="exampleInputName1">Ürün Kategorisi</label>
                        <input type="text" class="form-control" value="@ViewBag.CatName" name="Kategori"  required placeholder="Ürün Markası" readonly>
                      </div>
                    <div class="form-group">
                        <label for="exampleInputName1">Urun Adedi </label>
                        <input type="number" class="form-control" id="UrunAdet" name="UrunAdet"  required placeholder="Urun Adedi">
                      </div>
                    <div class="form-group">
                        <label for="exampleInputName1">Ürün Fiyatı </label>
                        <input type="number" class="form-control" id="exampleInputName1" name="fiyat"  required placeholder="Ürün Fiyatı">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputName1"> Satış Fiyatı</label>
                        <input type="number" class="form-control" id="exampleInputName1" name="satisFiyati"  required placeholder="Satış Fiyatı">
                      </div>
                    </form>
                     <input value="@ViewBag.CatName" type="text" style="visibility:hidden" name="redirectName">
                  </div>
                </div>
              </div>
                    </div>
                    <div class="modal-footer">
                         <button type="submit" onclick="writeName()" class="btn btn-gradient-info me-2">Onayla</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
       }

              <button type="button" style="border-radius:7rem; position: fixed; bottom: 20px;right: 20px;margin-right:3rem;" class="btn btn-gradient-info " style="margin-bottom:1rem;" data-bs-toggle="modal" data-bs-target="#myModal">Ürün Ekle</button>
                <div class="container mt-2"> @*mt kapatılabilir*@

        <div class="modal" id="myModalProductInfo">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                     <h4 class="modal-title d-flex justify-content-center" style="margin-top:-1rem;">Ürün Bilgileri</h4>
                    <div class="modal-body">
                        <div class="col-12 grid-margin stretch-card">
                <div class="card " style="height:100%; margin-bottom:-3rem;">
                  <div class="card-body">
                    <form class="forms-sample">
                        <label for="exampleInputName1" style="font-size:14px">Ürün Kodu</label>
                      <div class="form-group" style="display:flex">
                        <input type="text" class="form-control" id="UrunKodu" name="UrunKodu" value=""  required placeholder="Ürün Kodu" readonly>
                      </div>
                        <div class="form-group">
                        <label for="exampleInputName1">Ürün Adı </label>
                        <input type="text" class="form-control" id="UrunAdi" name="UrunAdi"  required placeholder="Ürün Adı" readonly>
                      </div>
                        <div class="form-group">
                        <label for="exampleInputName1">Ürün Markası</label>
                        <input type="text" class="form-control" id="UrunMarka" name="Marka"  required placeholder="Ürün Markası" readonly>
                      </div>
                      <div class="form-group">
                        <label for="exampleInputName1">Ürün Kategorisi</label>
                        <input type="text" class="form-control" id="UrunCat" name="Kategori"  required placeholder="Ürün Kategorisi" readonly>
                      </div>
                       <div class="form-group">
                        <label for="exampleInputName1">Ürün Adedi</label>
                        <input type="text" class="form-control" id="UrunAdeti" name="UrunAdet"  required placeholder="Ürün Adedi" readonly>
                      </div>
                      <div class="form-group">
                        <label for="exampleInputName1">Ürün'ün Kullanıldığı Keşif</label>
                        <input type="text" class="form-control" id="UrunAitligi" name="Aitlik"  required placeholder="Ürün'ün Kullanıldığı Keşif'" readonly>
                      </div>
                    <div class="form-group">
                        <label for="exampleInputName1">Ürün Fiyatı </label>
                        <input type="number" class="form-control" id="UrunFiyat" name="fiyat"  required placeholder="Ürün Fiyatı" readonly>
                      </div>
                      <div class="form-group">
                        <label for="exampleInputName1"> Satış Fiyatı</label>
                        <input type="number" class="form-control" id="UrunSatisFiyat" name="satisFiyati"  required placeholder="Satış Fiyatı" readonly>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
                    </div>
                    <div class="modal-footer">
                          <button type="submit" data-bs-dismiss="modal"  class="btn btn-gradient-danger me-2">Kapat</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


 <script type="text/javascript">
            
GenerateCode = function() {
    var result = '';
    var characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789';
    var charactersLength = characters.length;
    for (var i = 0; i < 10; i++) {
        result += characters.charAt(Math.floor(Math.random() * charactersLength));

    }
    document.getElementById("UrunKodu").setAttribute("value", result)
};
         

   var table = document.getElementById("table"),indexy
       for (var i = 0; i < table.rows.length;i++)
    {
        table.rows[i].onclick = function() 
        {
            indexy = this.rowIndex;
            document.getElementById("RowsValue").value =this.cells[0].textContent;
        };
}

$("#table").on("dblclick", "td", function(){
    var send = $(this).parent("tr").find("td:first").text();
            $.ajax({
            url: "@Url.Action("GetProductByCode","Product")",
            type: 'POST',
            data: {send : send},
            dataType: 'json',
            success: function(data) {
                $("#UrunKoduId").val(data.urunKodu);
                $("#UrunMarka").val(data.marka);
                $("#UrunAitligi").val(data.kesifAitligi);
                $("#UrunSatisFiyat").val(data.satisFiyati);
                $("#UrunAdeti").val(data.urunAdet);
                $("#UrunFiyat").val(data.urunFiyati);
                $("#UrunCat").val(data.urunKategorisi);
                $("#UrunAdi").val(data.urunAdi);
                $("#myModalProductInfo").modal('show');
            },
            error: function(err) {
                 swal("Hata Oluştu","Beklenmedik bir hata oluştu. Lütfen biraz bekleyip tekrar deneyiniz.","warning")
            }
        });
});
  

 </script>