@model IEnumerable<Remake.Models.Urunler>
@using Remake.Models;
@{
    ViewData["Title"] = "ListIndex";
    Layout = "~/Views/Shared/layout.cshtml";
}
<div class="container mt-2"> @*mt kapatılabilir*@
        <div class="modal" id="myModalOK">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                     <h4 class="modal-title d-flex justify-content-center" style="margin-top:-1rem;">Emin Misiniz?</h4>
                    <div class="modal-body">
                        <div class="col-12 grid-margin stretch-card">
                <div class="card " style="height:100%; margin-bottom:-3rem;">
                  <div class="card-body">
                              <h1 class="card-title text-center mt-2">Ürünü silmek istediğinize emin misiniz?</h1>
                  </div>
                </div>
              </div>
                    </div>
                    <div class="modal-footer">
                        @using (Html.BeginForm("DeleteUser","Admin",FormMethod.Post))
{
                                     <button type="submit" class="btn btn-gradient-dark me-2">Sil</button>
                                                   <input value="" id="RowsValue" type="text" style="visibility:hidden" name="UserEmail">

}
                            <button type="submit" data-bs-dismiss="modal"  class="btn btn-gradient-red me-2">İptal Et</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-2"> @*mt kapatılabilir*@

        <div class="modal" id="myModalProductInfo">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                     <h4 class="modal-title d-flex justify-content-center" style="margin-top:-1rem;">Ürün Bilgileri</h4>
                    <div class="modal-body">
                        <div class="col-12 grid-margin stretch-card">
                <div class="card " style="height:100%; margin-bottom:-3rem;">
                  <div class="card-body">
                    <form class="forms-sample">
                        <label for="exampleInputName1" style="font-size:14px">Ürün Kodu</label>
                      <div class="form-group" style="display:flex">
                        <input type="text" class="form-control" id="UrunKoduId" name="UrunKodu" value=""  required placeholder="Ürün Kodu" readonly>
                      </div>
                        <div class="form-group">
                        <label for="exampleInputName1">Ürün Adı </label>
                        <input type="text" class="form-control" id="UrunAdi" name="UrunAdi"  required placeholder="Ürün Adı" readonly>
                      </div>
                        <div class="form-group">
                        <label for="exampleInputName1">Ürün Markası</label>
                        <input type="text" class="form-control" id="UrunMarka" name="Marka"  required placeholder="Ürün Markası" readonly>
                      </div>
                      <div class="form-group">
                        <label for="exampleInputName1">Ürün Kategorisi</label>
                        <input type="text" class="form-control" id="UrunCat" name="Kategori"  required placeholder="Ürün Kategorisi" readonly>
                      </div>
                      <div class="form-group">
                        <label for="exampleInputName1">Ürün'ün Kullanıldığı Keşif</label>
                        <input type="text" class="form-control" id="UrunAitligi" name="Aitlik"  required placeholder="Ürün'ün Kullanıldığı Keşif'" readonly>
                      </div>
                    <div class="form-group">
                        <label for="exampleInputName1">Ürün Fiyatı </label>
                        <input type="number" class="form-control" id="UrunFiyat" name="fiyat"  required placeholder="Ürün Fiyatı" readonly>
                      </div>
                      <div class="form-group">
                        <label for="exampleInputName1"> Satış Fiyatı</label>
                        <input type="number" class="form-control" id="UrunSatisFiyat" name="satisFiyati"  required placeholder="Satış Fiyatı" readonly>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
                    </div>
                    <div class="modal-footer">
                          <button type="submit" data-bs-dismiss="modal"  class="btn btn-gradient-dark me-2">Kapat</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
<h2 class="card-title text-center">Ürünler</h2>

<div class="col-md-12">
                <div class="table-responsive card">
                  <div class="card-body">
                    <table id="table" class="table table-bordered text-center ">
       
                      <tbody>
                         @foreach(var item in Model)
                             {
                    <tr class="table-primary">
                  <td class="col-lg-2 col-md-2 col-sm-2" @*data-id="@item.UrunKodu" data-bs-toggle="modal" data-bs-target="#myModalProductInfo"*@ >@item.UrunKodu</td>
                  <td @*data-id="@item.UrunKodu" data-bs-toggle="modal" data-bs-target="#myModalProductInfo"*@>@item.UrunAdi</td>
                   <td><a type="submit" data-bs-toggle="modal" data-bs-target="#myModalOK" class="btn btn-gradient-dark btn-sm">Sil</a></td>
                 
                        </tr>
                        }
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>

 <script type="text/javascript">
            
        var table = document.getElementById("table"),indexy,send,temp 

    for (var i = 0; i < table.rows.length;i++)
    {
        table.rows[i].onclick = function() {
            indexy = this.rowIndex;
                       send = this.cells[0].textContent;
            document.getElementById("RowsValue").value = send;
        $("td").dblclick(function() {
        $.ajax({
            url: "@Url.Action("GetProductByCode","Product")",
            type: 'POST',
            data: {send : send},
            dataType: 'json',
            success: function(data) {
                console.log(data);
                $("#UrunKoduId").val(data.urunKodu);
                $("#UrunMarka").val(data.marka);
                $("#UrunAitligi").val(data.kesifAitligi);
                $("#UrunSatisFiyat").val(data.satisFiyati);
                $("#UrunFiyat").val(data.urunFiyati);
                $("#UrunCat").val(data.urunKategorisi);
                $("#UrunAdi").val(data.urunAdi);
                $("#myModalProductInfo").modal('show');
            },
            error: function(err) {
                alert("no");
            }
        });
    });

        };
    }

 </script>