@model IEnumerable<Remake.Models.Urunler>
@using Remake.Models;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/layout.cshtml";
}
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<div class="container mt-2"> @*mt kapatılabilir*@
        <div class="modal" id="myModalOK">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                     <h4 class="modal-title d-flex justify-content-center" style="margin-top:-1rem;">Emin Misiniz?</h4>
                    <div class="modal-body">
                        <div class="col-12 grid-margin stretch-card">
                <div class="card " style="height:100%; margin-bottom:-3rem;">
                  <div class="card-body">
                              <h1 class="card-title text-center mt-2">Ürünü silmek istediğinize emin misiniz?</h1>
                              <p class="text-center mt-2">Ürün Kullanılıyor ise silinmeyecektir.</p>
                  </div>
                </div>
              </div>
                    </div>
                    <div class="modal-footer">
                        @using (Html.BeginForm("DeleteProduct","Product",FormMethod.Post))
{
                                     <button type="submit" class="btn btn-gradient-info me-2">Sil</button>
                                                   <input value="" id="RowsValue" type="text" style="visibility:hidden" name="ProductCode"> 

}
                            <button type="submit" data-bs-dismiss="modal"  class="btn btn-gradient-danger me-2">İptal Et</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


 @using (Html.BeginForm("AddNewProduct","Product",FormMethod.Post))
{
<div class="container mt-2"> @*mt kapatılabilir*@

        <div class="modal" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                     <h4 class="modal-title d-flex justify-content-center" style="margin-top:-1rem;">Yeni Ürün Ekle</h4>
                    <div class="modal-body">
                        <div class="col-12 grid-margin stretch-card">
                <div class="card " style="height:100%; margin-bottom:-3rem;">
                  <div class="card-body">
                    <form class="forms-sample">
                        <label for="exampleInputName1" style="font-size:14px">Ürün Kodu</label>
                      <div class="form-group" style="display:flex">
                        <input type="text" class="form-control" id="UrunKoduId" name="UrunKodu"   required placeholder="Ürün Kodu">
                        <a type="button" onclick="GenerateCode( )"class="btn btn-gradient-success">Kod üret</a>
                      </div>
                        <div class="form-group">
                        <label for="exampleInputName1">Ürün Adı </label>
                        <input type="text" class="form-control" id="exampleInputName1" name="UrunAdi"  required placeholder="Ürün Adı">
                      </div>
                        <div class="form-group">
                        <label for="exampleInputName1">Ürün Markası</label>
                        <input type="text" class="form-control" id="exampleInputName1" name="Marka"  required placeholder="Ürün Markası">
                      </div>
                      <div class="form-group">
                      <label for="exampleFormControlSelect1">Kategori Seçiniz</label>
                      <select class="form-control form-control-lg" id="Selects">
                          <option>-</option>
                          @foreach(var item in (List<Kategoriler>)ViewBag.CategoryList)
                                        {
                                            <option value="@item.KategoriAdi">@item.KategoriAdi</option>       
                                        }
                                        <input value="" id="inputNameChange" type="text" style="visibility:hidden" name="Kategori">
                                           
                      </select>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputName1">Ürün Stok Adedi </label>
                        <input type="number" class="form-control" id="exampleInputName1" name="UrunAdet" placeholder="Ürün Stok Adedi(Boş geçilebilir)">
                      </div>
                    <div class="form-group">
                        <label for="exampleInputName1">Ürün Fiyatı </label>
                        <input type="text" class="form-control" id="exampleInputName1" name="fiyat"  required placeholder="Ürün Fiyatı">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputName1"> Satış Fiyatı</label>
                        <input type="text" class="form-control" id="exampleInputName1" name="satisFiyati"  required placeholder="Satış Fiyatı">
                      </div>
                    </form>
                  </div>
                </div>
              </div>
                    </div>
                    <div class="modal-footer">
                         <button type="submit" onclick="writeName()" class="btn btn-gradient-info me-2">Onayla</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
       }

                    <h2 class="card-title text-center"style="margin-top:-2rem;">ÜRÜNLER</h2>
                    <div class="col-md-12">
                <div class="table-responsive card">
                  <div class="card-body">
                    <table id="table" class="table table-bordered text-center ">
        <thead>
                        <tr>
                            <th>Ürün Stok Adedi</th>
                            <th>Ürün Kodu</th>
            <th>Ürün Adı</th>
                        </tr>
                      </thead>
                      <tbody>
                         @foreach(var item in Model)
                             {
                    <tr class="table" style="cursor:pointer;background-color:#e9e9f7">
 <td class="col-lg-1 col-md-1 col-sm-1" ><a type="submit" data-bs-toggle="modal" data-bs-target="#myModalOK" style=" user-select: none;"class="btn btn-gradient-info btn-sm">@item.UrunAdet</a></td>
                  <td class="col-lg-2 col-md-2 col-sm-2" style=" user-select: none;" @*data-id="@item.UrunKodu" data-bs-toggle="modal" data-bs-target="#myModalProductInfo"*@ >@item.UrunKodu</td>
                  <td @*data-id="@item.UrunKodu" data-bs-toggle="modal" data-bs-target="#myModalProductInfo"*@ style=" user-select: none;">@item.UrunAdi</td>
                   <td >
                       <button data-bs-toggle="modal" data-bs-target="#myModalProductUpdate" id="getProdInfo" style=" user-select: none;"class="btn btn-gradient-info btn-sm">Güncelle</button>
                       <a type="submit" data-bs-toggle="modal" data-bs-target="#myModalOK" style=" user-select: none;"class="btn btn-gradient-danger btn-sm">Sil</a></td>
                 
                        </tr>
                        }
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>

    <div class="container mt-2"> @*mt kapatılabilir*@

        <div class="modal" id="myModalProductInfo">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                     <h4 class="modal-title d-flex justify-content-center" style="margin-top:-1rem;">Ürün Bilgileri</h4>
                    <div class="modal-body">
                        <div class="col-12 grid-margin stretch-card">
                <div class="card " style="height:100%; margin-bottom:-3rem;">
                  <div class="card-body">
                    <form class="forms-sample">
                        <label for="exampleInputName1" style="font-size:14px">Ürün Kodu</label>
                      <div class="form-group" style="display:flex">
                        <input type="text" class="form-control" id="UrunKodu" name="UrunKodu" value=""  required placeholder="Ürün Kodu" readonly>
                      </div>
                        <div class="form-group">
                        <label for="exampleInputName1">Ürün Adı </label>
                        <input type="text" class="form-control" id="UrunAdi" name="UrunAdi"  required placeholder="Ürün Adı" readonly>
                      </div>
                        <div class="form-group">
                        <label for="exampleInputName1">Ürün Markası</label>
                        <input type="text" class="form-control" id="UrunMarka" name="Marka"  required placeholder="Ürün Markası" readonly>
                      </div>
                      <div class="form-group">
                        <label for="exampleInputName1">Ürün Kategorisi</label>
                        <input type="text" class="form-control" id="UrunCat" name="Kategori"  required placeholder="Ürün Kategorisi" readonly>
                      </div>
                       <div class="form-group">
                        <label for="exampleInputName1">Ürün Stok Adedi</label>
                        <input type="text" class="form-control" id="UrunAdeti" name="UrunAdet"  required placeholder="Ürün Stok Adedi" readonly>
                      </div>
                    <div class="form-group">
                        <label for="exampleInputName1">Ürün Fiyatı </label>
                        <input type="number" class="form-control" id="UrunFiyat" name="fiyat"  required placeholder="Ürün Fiyatı" readonly>
                      </div>
                      <div class="form-group">
                        <label for="exampleInputName1"> Satış Fiyatı</label>
                        <input type="number" class="form-control" id="UrunSatisFiyat" name="satisFiyati"  required placeholder="Satış Fiyatı" readonly>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
                    </div>
                    <div class="modal-footer">
                          <button type="submit" data-bs-dismiss="modal"  class="btn btn-gradient-danger me-2">Kapat</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

     <div class="container mt-2"> @*mt kapatılabilir*@

        <div class="modal" id="myModalProductUpdate">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                     <h4 class="modal-title d-flex justify-content-center" style="margin-top:-1rem;">Ürün Bilgileri Güncelle</h4>
                    <div class="modal-body">
                        <div class="col-12 grid-margin stretch-card">
                <div class="card " style="height:100%; margin-bottom:-3rem;">
                  <div class="card-body">
                    <form class="forms-sample">
                        <label for="exampleInputName1" style="font-size:14px">Ürün Kodu</label>
                      <div class="form-group" style="display:flex">
                        <input type="text" class="form-control" id="UrunKoduUpdate" name="UrunKodu" value=""  required placeholder="Ürün Kodu" disabled>
                      </div>
                       
                         <div class="form-group">
                        <label for="exampleInputName1">Ürün Adı </label>
                         <input id="checkboxValue" style="margin-left:13rem;width:1.25rem;height:1.25rem;" onclick="test()" type="checkbox" > 
                          <div class="form-group">
                        <input type="text" class="form-control" id="UrunAdiUpdate" name="UrunAdi"  required placeholder="Ürün Adı" disabled>
                      </div>
                      </div>
                       <div class="form-group">
                        <label for="exampleInputName1">Ürün Markası</label>
                         <input id="checkboxValue1" style="margin-left:11.2rem;width:1.25rem;height:1.25rem;" onclick="test1()" type="checkbox" > 
                         <div class="form-group">
                        <input type="text" class="form-control" id="UrunMarkaUpdate" name="Marka"  required placeholder="Ürün Markası" disabled>
                      </div>
                      </div>
                      
                       <div class="form-group">
                        <label for="exampleInputName1">Ürün Kategorisi</label>
                         <input id="checkboxValue2" style="margin-left:10.5rem;width:1.25rem;height:1.25rem;" onclick="test2()" type="checkbox" > 
                         <div class="form-group">
                        <input type="text" class="form-control" id="UrunCatUpdate" name="Kategori"  required placeholder="Ürün Kategorisi" disabled>
                      </div>
                      </div>
                       
                              <div class="form-group">
                        <label for="exampleInputName1">Ürün Stok Adedi</label>
                         <input id="checkboxValue3" style="margin-left:10.3rem;width:1.25rem;height:1.25rem;" onclick="test3()" type="checkbox" > 
                         <div class="form-group">
                        <input type="text" class="form-control" id="UrunAdetiUpdate" name="UrunAdet"  required placeholder="Ürün Stok Adedi" disabled>
                      </div>
                      </div>
                      <div class="form-group">
                        <label for="exampleInputName1">Ürün Fiyatı </label>
                         <input id="checkboxValue4" style="margin-left:12.3rem;width:1.25rem;height:1.25rem;" onclick="test4()" type="checkbox" > 
                          <div class="form-group">
                        <input type="number" step="0.01" class="form-control" id="UrunFiyatUpdate" name="fiyat"  required placeholder="Ürün Fiyatı" disabled>
                      </div>      
                      </div>
                      <div class="form-group">
                        <label for="exampleInputName1"> Satış Fiyatı</label>
                         <input id="checkboxValue5" style="margin-left:12.3rem;width:1.25rem;height:1.25rem;" onclick="test5()" type="checkbox" > 
                          <div class="form-group">
                        <input type="number" step="0.01" class="form-control" id="UrunSatisFiyatUpdate" name="satisFiyati"  required placeholder="Satış Fiyatı" disabled>
                      </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
                    </div>
                    <div class="modal-footer">
                          <button type="submit" data-bs-toggle="modal" data-bs-target="#myModalSureUpdate" class="btn btn-gradient-info me-2">Güncelle</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-2"> @*mt kapatılabilir*@
        <div class="modal" id="myModalSureUpdate">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                     <h4 class="modal-title d-flex justify-content-center" style="margin-top:-1rem;">Emin Misiniz?</h4>
                    <div class="modal-body">
                        <div class="col-12 grid-margin stretch-card">
                <div class="card " style="height:100%; margin-bottom:-3rem;">
                  <div class="card-body">
                              <h1 class="card-title text-center mt-2">Ürünü Güncellemek istediğinize emin misiniz?</h1>
                  </div>
                </div>
              </div>
                    </div>
                    <div class="modal-footer">
                              <button type="submit" id="GuncelleProd" class="btn btn-gradient-info me-2">Güncelle</button>
                            <button type="submit" data-bs-dismiss="modal"  class="btn btn-gradient-red me-2">İptal Et</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
          <div class="container mt-2">
        <div class="modal" id="modalCreatePack">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                     <h4 class="modal-title d-flex justify-content-center" style="margin-top:-1rem;">Paket Oluştur</h4>
                    <div class="modal-body">
                        <div class="col-12 grid-margin stretch-card">
                <div class="card " style="height:100%; margin-bottom:-3rem;">
                </div>
              </div>
                    </div>
                    <div class="modal-footer">
                          <button type="submit" data-bs-dismiss="modal"  class="btn btn-gradient-danger me-2">Kapat</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
          <div class="container mt-2">
        <div class="modal" id="modalAddPrdctPack">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                     <h4 class="modal-title d-flex justify-content-center" style="margin-top:-1rem;">Paket İşlemleri</h4>
                    <div class="modal-body">
                        <div class="col-12 grid-margin stretch-card">
                <div class="card " style="height:100%; margin-bottom:-3rem;">
                </div>
              </div>
                    </div>
                    <div class="modal-footer">
                          <button type="submit" data-bs-dismiss="modal"  class="btn btn-gradient-danger me-2">Kapat</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
      <div class="container mt-2">
        <div class="modal" id="myModalPaket">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                     <h4 class="modal-title d-flex justify-content-center" style="margin-top:-1rem;">Paket İşlemleri</h4>
                    <div class="modal-body">
                        <div class="col-12 grid-margin stretch-card">
                <div class="card " style="height:100%; margin-bottom:-3rem;">
                  <div class="card-body">
                       <button type="submit" data-bs-toggle="modal" data-bs-target="modalCreatePack" class="btn btn-gradient-info me-2">Paket Oluştur</button>
                        <button type="submit" data-bs-toggle="modal" data-bs-target="modalAddPrdctPack"  class="btn btn-gradient-info me-2">Pakete Ürün Ekle </button>
                  </div>
                </div>
              </div>
                    </div>
                    <div class="modal-footer">
                          <button type="submit" data-bs-dismiss="modal"  class="btn btn-gradient-danger me-2">Kapat</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="dropup-center dropup" style="outline:none">
            <button class="btn btn-gradient-info " style="border-radius:7rem; position: fixed; bottom: 20px;right: 20px;margin-right:3rem;"type="button" id="dropupCenterBtn" data-bs-toggle="dropdown" aria-expanded="false">
              +
            </button>
            <ul class="dropdown-menu text-center" style="background-color:transparent;outline:none;border:none"aria-labelledby="dropupCenterBtn">
              <li><button type="button"  style="border-radius:7rem;" class="btn btn-gradient-info" data-bs-toggle="modal" data-bs-target="#myModalPaket">Paket İşlemleri</button></li>
              <li><button type="button" class="btn btn-gradient-info"   style="border-radius:7rem;"data-bs-toggle="modal" data-bs-target="#myModal">Yeni Mekan Ekle</button> </li>
            </ul>
          </div>

              <script type="text/javascript">
                            function test(){
     var check= document.getElementById("checkboxValue").checked;
        if (check == true) {
            document.getElementById("UrunAdiUpdate").disabled = false;
        }
        else {
             document.getElementById("UrunAdiUpdate").disabled = true;
        }
}
                            function test1(){
     var check= document.getElementById("checkboxValue1").checked;
        if (check == true) {
            document.getElementById("UrunMarkaUpdate").disabled = false;
        }
        else {
             document.getElementById("UrunMarkaUpdate").disabled = true;
        }
}
                            function test2(){
     var check= document.getElementById("checkboxValue2").checked;
        if (check == true) {
            document.getElementById("UrunCatUpdate").disabled = false;
        }
        else {
             document.getElementById("UrunCatUpdate").disabled = true;
        }
}
                            function test3(){
     var check= document.getElementById("checkboxValue3").checked;
        if (check == true) {
            document.getElementById("UrunAdetiUpdate").disabled = false;
        }
        else {
             document.getElementById("UrunAdetiUpdate").disabled = true;
        }
}
                            function test4(){
     var check= document.getElementById("checkboxValue4").checked;
        if (check == true) {
            document.getElementById("UrunFiyatUpdate").disabled = false;
        }
        else {
             document.getElementById("UrunFiyatUpdate").disabled = true;
        }
}
                            function test5(){
     var check= document.getElementById("checkboxValue5").checked;
        if (check == true) {
            document.getElementById("UrunSatisFiyatUpdate").disabled = false;
        }
        else {
             document.getElementById("UrunSatisFiyatUpdate").disabled = true;
        }
}

                  GenerateCode = function() {

    var result = '';
    var characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789';
    var charactersLength = characters.length;
    for (var i = 0; i < 10; i++) {
        result += characters.charAt(Math.floor(Math.random() * charactersLength));
    }
    document.getElementById("UrunKoduId").setAttribute("value", result)
};
           var table = document.getElementById("table"),indexy

    for (var i = 0; i < table.rows.length;i++)
    {
        table.rows[i].onclick = function() 
        {
            indexy = this.rowIndex;
            document.getElementById("RowsValue").value =this.cells[1].textContent;
        };
    }

 $("#GuncelleProd").on("click", function() {
     var UK = $("#UrunKoduUpdate").val();
     var UM = $("#UrunMarkaUpdate").val();
     var USF = $("#UrunSatisFiyatUpdate").val();
     var UA = $("#UrunAdetiUpdate").val();
     var UF = $("#UrunFiyatUpdate").val();
     var UC = $("#UrunCatUpdate").val();
     var UAdi = $("#UrunAdiUpdate").val();
     $.ajax({
         url: "@Url.Action("updateProduct","Product")",
            type: 'POST',
            data: {UK:UK,UM:UM,USF:USF,UA:UA,UF:UF,UC:UC,UAdi:UAdi},
            dataType: 'json',
            success: function(data) {
                if (data != "HATA") {

                swal({icon:"success",title: "Başarılı", text: "Ürün Güncellendi!", type: 
"success"}).then(function(){ 
   location.reload();
   }
);
                }
                else    {
                      swal("Hata Oluştu","Ürün Adedi Kullanılan adetten düşük olamaz.","warning")
                }
            },
            error: function(err) {
               swal("Hata Oluştu","Beklenmedik bir hata oluştu. Lütfen biraz bekleyip tekrar deneyiniz.","warning")
            }
     });
});


    function writeName() {
    var temp = document.getElementById("Selects").value
    document.getElementById("inputNameChange").setAttribute("value", temp)
       }
      
       $("#table tbody td button").on("click", function(){
           $("#table" ).on("click", "td:nth-child(4)", function(){
              
    var Send = $(this).parent("tr").find("td:nth-child(2)").text();
                $("#myModalProductInfoUpdate").modal('show');

      $.ajax({
            url: "@Url.Action("GetProductByCode","Product")",
            type: 'POST',
            data: {Send : Send},
            dataType: 'json',
            success: function(data) {
                console.log(data);
                $("#UrunKoduUpdate").val(data.urunKodu);
                $("#UrunMarkaUpdate").val(data.marka);
                $("#UrunSatisFiyatUpdate").val(data.satisFiyati);
                $("#UrunAdetiUpdate").val(data.urunAdet);
                $("#UrunFiyatUpdate").val(data.urunFiyati);
                $("#UrunCatUpdate").val(data.urunKategorisi);
                $("#UrunAdiUpdate").val(data.urunAdi);
                 //location.reload(true);
            },
            error: function(err) {
               swal("Hata Oluştu","Beklenmedik bir hata oluştu. Lütfen biraz bekleyip tekrar deneyiniz.","warning")
            }
        });
});      
});

            
$("#table").on("dblclick", "td", function(){
    var Send = $(this).parent("tr").find("td:nth-child(2)").text();
            $.ajax({
            url: "@Url.Action("GetProductByCode","Product")",
            type: 'POST',
            data: {Send : Send},
            dataType: 'json',
            success: function(data) {
                $("#UrunKodu").val(data.urunKodu);
                $("#UrunMarka").val(data.marka);
                $("#UrunSatisFiyat").val(data.satisFiyati);
                $("#UrunAdeti").val(data.urunAdet);
                $("#UrunFiyat").val(data.urunFiyati);
                $("#UrunCat").val(data.urunKategorisi);
                $("#UrunAdi").val(data.urunAdi);
                $("#myModalProductInfo").modal('show');
            },
            error: function(err) {
               swal("Hata Oluştu","Beklenmedik bir hata oluştu. Lütfen biraz bekleyip tekrar deneyiniz.","warning")
            }
        });
});

  
   </script>
  
       