@using Remake.Models;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/layout.cshtml";
}



               <div class="col-md-12">
                <div class=" card">
                  <div class="table-responsive card-body">
                    <h4 class="card-title text-center">İstatistikler</h4>
                    <table class="table table-hover">
                      <thead>
                        <tr>
                                                      <th class="col-lg-3 col-md-3 col-sm-3 text-center" >Keşif Sayısı</th>
                          <th class="col-lg-3 col-md-3 col-sm-3 text-center">Ürün Sayısı</th>
                          <th class="col-lg-3 col-md-3 col-sm-3 text-center">Toplam Ürün Adedi</th>
                          <th class="col-lg-3 col-md-3 col-sm-3 text-center">Kategori</th>
                          <th class="col-lg-3 col-md-3 col-sm-3 text-center">Kullanıcı</th>
                        </tr>
                      </thead>
                      <tbody>
                                                    @foreach(var item in (List<HomeExportEntites>)ViewBag.Entities){
                          <tr>
                               <td class="col-lg-3 col-md-3 col-sm-3 text-center" ><a type="submit" style=" user-select: none;"class="btn btn-gradient-info btn" href="@Url.Action("Index","Explorers")">@item.KesifSayisi</a></td>
                                <td class="col-lg-3 col-md-3 col-sm-3 text-center" ><a type="submit" style=" user-select: none;"class="btn btn-gradient-info btn" href="@Url.Action("Index","Product")">@item.UrunSayisi</a></td>
                                 <td class="col-lg-2 col-md-2 col-sm-2 text-center" ><a type="submit" style=" user-select: none;"class="btn btn-gradient-info btn" >@item.SumUrunAdedi</a></td>
                                  <td class="col-lg-2 col-md-2 col-sm-2 text-center" ><a type="submit"  style=" user-select: none;"class="btn btn-gradient-info btn" href="@Url.Action("Index","Category")">@item.KategoriSayisi</a></td>
                                   <td class="col-lg-2 col-md-2 col-sm-2 text-center" ><a type="submit"  style=" user-select: none;"class="btn btn-gradient-info btn">@item.KullanıcıSayisi</a></td>
                          <td></td>
                        </tr>
                    }
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
